
      <div class="col-sm-6 col-lg-3">
          <div class="hover-team">
              <div class="our-team"> <img src="{{ team.image.url }}" alt="" />
                  <div class="team-content">
                      <h3 class="title">{{ team.name }}</h3> <span class="post">{{ team.job_title }}</span>
                  </div>
                  <ul class="social">
                      <li>
                          <a href="#" class="fab fa-facebook"></a>
                      </li>
                      <li>
                          <a href="#" class="fab fa-twitter"></a>
                      </li>
                      <li>
                          <a href="#" class="fab fa-google-plus"></a>
                      </li>
                      <li>
                          <a href="#" class="fab fa-youtube"></a>
                      </li>
                  </ul>
                  <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
              </div>
              <div class="team-description">
                  <p>{{ team.descr }}</p>
              </div>
              <hr class="my-0">
          </div>
      </div>